    <div>
    <section class="product-section">
        <h4 class="text-align-center">Sale</h4>
        <div class='flex-row w-100 justify-around'>
        {{#each saleProducts as |Product|}}
            <div id='container'>
            <a href='/product/{{Product.id}}'>
                <div class='item'>
                <img src='{{Product.image}}' alt='' class="product-img"/>
                {{!-- <div id='div1-test-image'></div> --}}
                <p>{{Product.name}}</p>
                <p>{{Product.price}}</p>
                </div>
            </a>
            </div>
        {{/each}}
        </div>
    </section>

    <section class="product-section">
        <h4 class="text-align-center">Categories</h4>
        <div class='flex-row w-100 justify-around'>
        {{#each allCategories as |Category|}}
            <a href='/category/{{Category.id}}'>
            <div>
                <img src='{{Category.image}}' alt='' class="product-img" />
                {{!-- <p>{{Category.name}}</p> --}}
            </div>
            </a>
        {{/each}}
        </div>
    </section>

    <section class="product-section">
        <h4 class="text-align-center">New Arrivals</h4>
        <div class='flex-row w-100 justify-around'>
            {{#each newProducts as |Product|}}
            <a href='/product/{{Product.id}}'>
                <div>
                    <img src='{{Product.image}}' alt="" class="product-img">
                    {{!-- <div id='div-2-test-image'></div> --}}
                    <p>{{Product.name}}</p>
                    <p>{{Product.price}}</p>
                </div>
            </a>
            {{/each}}
        </div>
    </section>
    </div>