{{#each saleProducts as |Product|}}
<div>
    <a href="">
        <div>
            <img src="/images/{{Product.}}" alt="">
            <p>{{Product.}}</p>
            <p>{{Product.}}</p>
        </div>
    </a>
</div>
{{/each}}

{{#each serializedCategories as |Categories|}}
<div>
    <a href="">
        <div>
            <img src="" alt="">
            <p>{{Product.}}</p>
            <p>{{Product.}}</p>
        </div>
    </a>
</div>
{{/each}}

{{#each newProducts as |Product|}}
<div>
    <a href="">
        <div>
            <img src="" alt="">
            <p>{{Product.}}</p>
            <p>{{Product.}}</p>
        </div>
    </a>
</div>
{{/each}}