    <section id="category-section">
        <h4 class="category-title text-align-center">{{category.name}}</h4> 
        <div id="card-container" class='flex-row w-100 justify-around'>
            {{#each categoryProducts as |Product|}}
                <div id="card">
                <a href='/product/{{Product.id}}'>
                    <div id="flex-div" class="flex-column">
                    <img src='{{Product.image}}' alt='' class="product-img"/>
                    <p>{{Product.name}}</p>
                    <p>{{Product.price}}</p>
                    </div>
                </a>
                </div>
            {{/each}}
        </div>
    </section>