    <section id="category-section">
        {{!-- Dynmically create cotegory title --}}
        <h4 class="category-title text-align-center">{{category.name}}</h4> 
        <div class='flex-row w-100 justify-around'>
            {{#each categoryProducts as |Product|}}
                <div id="container">
                <a href='/product/{{Product.id}}'>
                    <div>
                    <img src='{{Product.image}}' alt='' />
                    <p>{{Product.name}}</p>
                    <p>{{Product.price}}</p>
                    </div>
                </a>
                </div>
            {{/each}}
        </div>
    </section>