<section class="product-section">
  <h4 class="text-align-center">{{category.name}}</h4>
  <div class="flex-row row-cols-4 w-100">
    {{#each categoryProducts as |Product|}}
      <div class="flex-item col">
        <a href="/product/{{Product.id}}">
          <img src="{{Product.image}}" alt="" class="product-img" />
          <div class="product-text">
            <p class="text-align-center">{{Product.name}}</p>
            <p class="text-align-center">{{Product.price}}</p>
          </div>
        </a>
      </div>
    {{/each}}
  </div>
</section>